*{
  box-sizing: border-box;
  }

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
} 


.h1{
  text-align: center;
  padding:30px;
  font-size: 50px;  
  margin: 0px;
  }

.row{
    width: 100%;
    }


 .box{
      margin:10px auto 10px auto;
      padding: 10px;
 }
.hotel{
        border: 1px solid red;
        background-color: #cccccc;
        margin: 2px 6px 10px 2px
      }

h3{
  border: 1px solid black;
  position: relative;
  float: right;
  margin-top: 0px;

}

p{
  height: 150px;
  margin: 20px 6px 6px 6px;
  padding: 5px;

  }

#hotel_1{
  background-color: pink;
}

#hotel_2{
  background-color: yellow;
}

#hotel_3{
  background-color: green;
}

/*Diseño: en la vista de escritorio (992px y superior)*/
@media(min-width: 992px)
{
        .col-lg-4 {
          float: left;}

          .col-lg-4 {
            width: 33.33%;
          }

}

/*Diseño: en la vista de tableta (entre 768px y 991px, inclusive)*/
@media(min-width: 768px) and (max-width: 991px)
{
        .col-md-6, .col-md-12{
          float: left;}

          .col-md-6{
            width:50%;
          }

          .col-md-12{
            width:100%;
          }

}

/*Diseño: en la vista móvil (igual o menor a 767 px)*/
@media(min-width: 1px) and (max-width: 767px)
{
        .col-sm-12{
          float: left;}

          .col-sm-12{
            width:100%;
          }

}