*{
  box-sizing: border-box;
}



.row {
 
  width: 100%;
  position: relative;
 
}



 p { 
  position: relative;
  border: 1px solid black;
  background: #d1ebf7;
  overflow: hidden;
  width: 80%;
  height: 180px;
  margin: 0 auto 15px;
  top:50px;
}

span{
 background-color: #009c8c ;
  position:relative;
  top: auto;
  left: 240px;  
  border:solid 1px black;
  font:oblique bold  15px cursive;
  overflow: hidden;
  color:white;
 
}

.h1{
  margin:0px 40%;
  font:oblique bold 50px cursive;
}

@media (min-width: 1200px) 
{
    .col-lg-1 {float:left;
          margin:0px;}

  .col-lg-1 {
    width:33.33%;}

  
}

/*Tableta (entre 768px y 991px, inclusive)*/
 @media (min-width: 768px) and (max-width: 1199px)
  {
    .col-md-2, .col-md-3 {
    float:left;
    margin:0px;}

    .col-md-2  {
    width:50%;} 

    .col-md-3{
    width: 100% }
  }
        

  /*móvil (igual o menor a 767 px)*/
   @media(max-width: 767px)
    {
      .col-sm-3 {
      float:left;
      margin:0px; }
    
    .col-sm-3  {
         width:100%;} 
  }
